/* GLOBAL STYLING */
body {
	margin:0;
	font:17px 'Maven Pro', 'Lucida Grande', Helvetica, Arial, sans-serif;
	color:#2b2b2b;
	background-color:#fafafa;
}
a {
	color: #00B7FF;
}
#hero {
	width:100%;
	height:100%;
	position:absolute;
	background-color:#00e5ff;
	background-image:url(../assets/background-ldpi.jpg);
	background-position-y:0%;
	background-size:cover;
	background-attachment:fixed;
}

/* HEADER/HERO */
header {
	color:#fafafa;
	text-align:center;
	height:10%;
	position:relative;
	top:10%;
}
header #title {
	font-size:3.5em;
	font-weight:700;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:default;
}
header #tagline {
	font-size:1em;
}
#evolution-content {
	position:absolute;
	top:100%;
	width:100%;
	height:100%;
}
#button-evolve {
	position:relative;
	top:35%;
	width:150px;
	padding:15px;
	margin:10px auto;
	border-radius:10px;
	border:3px solid #fafafa;
	font-size:2.5em;
	color:#fafafa;
	text-align:center;
	transition-duration:0.1s;
	cursor:pointer;
}
#button-evolve:active {
	background-color:rgba(200,200,200,0.1);
}

/* Floating Control Panel */
#control-panel {
	width:100%;
	height:70px;
	position:fixed;
	transform:translateY(-100%);
	margin:0 auto;
	text-align:center;
	transition:transform 0.3s ease-in-out;
	z-index:1000;
	background-color:#2e3f56;
	box-sizing:border-box;
	padding-top:17px;
}
.control-section-container {
	display:inline-block;
	width:40%;
}
#control-section-container-left {
	text-align:right;
}
#control-section-container-right {
	text-align:left;
}
.control-section {
	display:inline-block;
	margin:0 20px;
	color:#fafafa;
	position:relative;
	top:25%;
}
.control-label, .control-element {
	display: inline-block;
}
#button-evolve-small {
	display:inline-block;
	color:#fafafa;
	width:150px;
	margin:0 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:pointer;
	background-color:rgba(0,0,0,0.15);
	padding:7px 0;
	border-radius:5px;
}

/* Control Panel Selects */
.control-selectElement {
	border:0;
	appearance:none;
	-o-appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	padding:6px;
	background:none;
	font-size:15px;
	color:#fafafa;
	border-radius:0;
	border-bottom:2px solid #fafafa;
}
.control-selectElement:focus {
	outline:none;
}
.control-selectElement option {
	color:#2e3f56;
}

/* GENERATED PATTERN */
#pattern-container {
	padding:120px 60px;
}
.cell-row {
	display:flex;
	justify-content:center;
}
.cell {
	width:1%;
	height:10px;
}
.firstRow-cell {
	opacity:0;
	animation:load 0.4s ease-in-out;
	animation-fill-mode: forwards;
}

/* Load first row of cells */
@keyframes load {
	0% {
		opacity: 0;
		transform: translateY(-200px);
	}
	65% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}