/* GLOBAL STYLING */
body {
	margin:0;
  font:17px 'Maven Pro', 'Lucida Grande', Helvetica, Arial, sans-serif;
	color:#2b2b2b;
	background-color:#fafafa;
}
a {
  color: #00B7FF;
}
#hero {
	width:100%;
	height:100%;
	position:absolute;
	background-color:#00e5ff;
	background-image:url(../assets/balloons-blur15.jpg);
	background-image:url(../assets/airballoons-blur15.jpg);
	background-image:url(../assets/airballoons.jpg);
	background-image:url(../assets/wood-colours-blur15.jpg);
	background-image:url(../assets/wood-colours.jpg);
	background-position-y:0%;
	background-size:cover;
	background-attachment:fixed;
}

/* HEADER */
header {
	color:#fafafa;
	text-align:center;
	height:10%;
	position:relative;
	top:10%;
}
header #title {
	font-size:2.5em;
	font-weight:700;
}
header #tagline {
	font-size:1em;
}
#evolution-content {
	position:absolute;
	top:100%;
	width:100%;
	height:100%;
}
.control-section {
	display:inline-block;
	margin-right:20px;
}
.control-panel {
	margin:10px 0 20px 0;
}
.control-label, .control-element {
	display: inline-block;
}
/* Coontrol Panel Selects */
.control-selectElement {
	border:0;
	appearance:none;
	-o-appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	padding:6px;
	background:none;
	font-size:15px;
	color:#2b2b2b;
	border-radius:0;
	border-bottom:2px solid #2b2b2b;
}
.control-selectElement:focus {
	outline:none;
}
/* Evolve button */
#btn-generate {
	position:relative;
	top:35%;
	width:150px;
	padding:15px;
	margin:10px auto;
	border-radius:10px;
	border:3px solid #fafafa;
	font-size:2.5em;
	color:#fafafa;
	text-align:center;
	transition-duration:0.1s;
	cursor:pointer;
}
#btn-generate:active {
	background-color:rgba(200,200,200,0.1);
}

/* GENERATED PATTERN */
#pattern-container {
	padding:50px;
}
.cell-row {
	display:flex;
	justify-content:center;
}
.cell {
	width:1%;
	height:10px;
}
.firstRow-cell {
	opacity:0;
	animation:load 0.4s ease-in-out;
	animation-fill-mode: forwards;
}

/* Load first row of cells */
@keyframes load {
	0% {
		opacity: 0;
		transform: translateY(-200px);
	}
	65% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}